src/NodeRED/flows.json
[{"id":"a9089529.70d708","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b0e74f8.b60bb","type":"inject","z":"a9089529.70d708","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":200,"wires":[["22dc06f6.ce79ea"]]},{"id":"22dc06f6.ce79ea","type":"http request","z":"a9089529.70d708","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://dataservicedevelopmentkit:4203/DataService/Variables","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":200,"wires":[["3074a570.d2c732"]]},{"id":"467660d9.8fa648","type":"http request","z":"a9089529.70d708","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://dataservicedevelopmentkit:4203/DataService/Data?variableIds=[\"{{{variableId}}}\"]&from={{{from}}}&to={{{to}}}","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":200,"wires":[["ff785e5b.18519"]]},{"id":"ff785e5b.18519","type":"function","z":"a9089529.70d708","name":"","func":"// Arrays of data \nvar data = []; \nvar obj = JSON.parse(msg.payload).data[\"0\"].values;\n\n// loop trough datapoints and process them to required structure\nfor (let i = 0; i < obj.length; i++) {\n  var dataPoint = {\n      \"x\" : obj[i].timestamp,\n      \"y\" : obj[i].value\n  }\n  data.push(dataPoint)\n}\n\n// return payload with data points \nmsg.payload =[{\n\"series\": [\"A\"],\n\"data\": [\n    data\n],\n\"labels\": [\"\"]\n}]\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":200,"wires":[["793b7155.0cf4f8"]]},{"id":"793b7155.0cf4f8","type":"ui_chart","z":"a9089529.70d708","name":"","group":"deee1362.899ba8","order":0,"width":"20","height":"10","label":"Sinus Wave","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":200,"wires":[[]]},{"id":"3074a570.d2c732","type":"function","z":"a9089529.70d708","name":"","func":"//Arrays of data\nlet nameVar = \"Sinus\"; // Name of Variable\nvar obj = JSON.parse(msg.payload).variables;\nlet variableId;\n\n// loop trough datapoints and search for Variable\nfor (let i = 0; i < obj.length; i++) {\n  \n  if (obj[i].variableName==nameVar){\n\n      variableId = obj[i].variableId\n  }\n \n}\n\nvar date = new Date();\nvar day = date.getDate();\nvar month = date.getMonth();\nvar year = date.getFullYear();\n\nvar from = new Date(year, month, day, 0, 0, 0);\nvar to = new Date(year, month, day+1, 0, 0, 0);\n\nmsg.variableId = variableId;\nmsg.from = from;\nmsg.to = to;\n\nmsg.payload = [variableId, from,to]\n\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["467660d9.8fa648"]]},{"id":"deee1362.899ba8","type":"ui_group","name":"My Group","tab":"ca20a0a2.96b918","order":1,"disp":true,"width":"20","collapse":false},{"id":"ca20a0a2.96b918","type":"ui_tab","name":"My Tab","icon":"","disabled":false,"hidden":false}]